.App {
  text-align: center;
}
.side-bar {
  height: 100vh;
  background-color: black !important;
}
.vertical-menu {
  width: 200px;
  height: 200px;
  overflow-y: auto;
}
.vertical-menu a:hover {
  background-color: #ccc;
}

body {
  background: rgb(105, 9, 9);
  background: linear-gradient(
    180deg,
    rgba(105, 9, 9, 0.9304096638655462) 9%,
    rgba(0, 0, 0, 1) 37%
  );
  background-repeat: no-repeat;
}
.top-card {
  background:  rgba(88, 85, 85, 0.26);
  color: aliceblue;
}
/* .profile-dropdown {
  background-color: black !important;
  border-radius: 40px;
} */


/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
